/* body {
  background-color: #232125;
} */

.crisp-rendering {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.grid-container {
  height: 1100px;
  width: 1200px;
}

.canvas-container {
  height: 1000px;
  width: 1000px;
}

.x-coords {
  width: 1100px;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.y-coords {
  width: 50px;
  height: 1000px;
}

.wallet .Popover-body {
  display: inline-flex;
  padding: 1rem 1rem;
  width: 400px;
  background: white;
  border-radius: 0.3rem;
}

.Popover-tipShape {
  fill: #f3f4f6;
  display: none;
}

.wallet .Popover-tip {
  display: none;
}
